html{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
	background-color: #efefef; 
}

header{
	background-color: #364552;
	color: white;
	padding:  2rem 1rem;
}

header h1 {
	font-size: 3rem;
	text-align: center;
}

.form-register{
	width: 400px;
	background: #364552;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	color: white;
	align-content: center;
}

input{
	padding: 15px;
	border-radius: 10px;
}


.text {
	text-shadow: 10px;
	font-size: 20px;
}


.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #364552;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
.button span:after {
	content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}
.button:hover span {
  	padding-right: 25px;
}
.button:hover span:after {
  	opacity: 1;
  	right: 0;
}

footer{
	background-color: #222;
	padding: 3rem;
	color: #fff;
}

footer section{
	float: right;
}

footer p{
	margin: 0;
}

footer a {
	transition: color 0.3s ease;
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: cornflowerblue;
}

#resultado{ 
	color: #ffffff; 
	font-size: 30px; 
	font-weight: 200;
	height: 20px; 
	text-align: center; 
	background: #364552; 
	margin: 0 0 25px; 
	overflow: hidden; 
	padding: 20px; 
	border-radius: 35px 0px 35px 0px; 
	-moz-border-radius: 35px 0px 35px 0px; 
	-webkit-border-radius: 35px 0px 35px 0px; 
	border: 2px solid #5878ca;
}